@import url('http://fonts.cdnfonts.com/css/euclid-circular-a');

//colors
$dark: #222B45;
$lightdark: #2E3A59;
$yellow500: #FFD339;
$yellow400: #FFE16A;
$yellow300: #FFEA88;
$yellow200: #FFF2AF;
$yellow100: #FFF9D7;
$grey: #8F9BB3;
$lightgrey:  #E4E9F2;
$backcolor: #EDF1F7;

