@import url("http://fonts.cdnfonts.com/css/euclid-circular-a");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  font-family: "Euclid Circular A", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #8F9BB3;
  max-height: 4.53rem;
  padding: 1.125rem 1rem 1rem;
}
@media (min-width: 992px) {
  header {
    border: none;
    padding: 0;
    margin: 1.25rem 7rem 0;
  }
}

.left {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
}
@media (min-width: 992px) {
  .left {
    padding: 0;
  }
}

.hamburger {
  width: 24px;
  height: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2px;
}
.hamburger span {
  background-color: #2E3A59;
  width: 18px;
  height: 2px;
}
@media (min-width: 992px) {
  .hamburger {
    display: none;
  }
}

.right {
  display: none;
}
@media (min-width: 992px) {
  .right {
    display: block;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.navbar {
  display: none;
}
@media (min-width: 992px) {
  .navbar {
    display: block;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 3.125rem;
  }
  .navbar .nav-links a {
    color: #222B45;
  }
  .navbar .nav-links a:hover {
    color: #FFD339;
  }
}

@media (min-width: 992px) {
  .language {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #2E3A59;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
  }
  .language span {
    background-color: #E4E9F2;
    width: 1px;
    height: 20px;
    margin: 0 1rem;
  }
  .language p {
    font-size: 1rem;
    margin-left: 0.25rem;
  }
}
.currency {
  border: none;
  color: #2E3A59;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.login {
  color: #222B45;
  border: 1px solid #C5CEE0;
  width: 5.75rem;
  min-height: 2.5rem;
  border-radius: 0.5rem;
  font-size: 0.875rem;
  margin-left: 2rem;
}
.login a {
  color: #222B45;
}

.signup {
  background-color: #FFD339;
  color: #222B45;
  border: none;
  width: 6.313rem;
  min-height: 2.5rem;
  border-radius: 0.5rem;
  font-size: 0.875rem;
  margin-left: 1rem;
}

.join {
  background-color: #FFD339;
  color: #222B45;
  border: none;
  width: 5rem;
  min-height: 2.5rem;
  border-radius: 0.5rem;
  font-size: 0.875rem;
}
@media (min-width: 992px) {
  .join {
    display: none;
  }
}

.container {
  margin: 3rem 1rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container svg {
  display: none;
}
.container h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 2.125rem;
  line-height: 2.5rem;
  color: #222B45;
  text-align: center;
  margin-bottom: 2rem;
}
.container p {
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #8F9BB3;
  text-align: center;
}
.container .guest-button {
  width: 91%;
}
.container .guest {
  background-color: #FFD339;
  color: #222B45;
  border: none;
  width: 91%;
  min-height: 3rem;
  border-radius: 8px;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25rem;
  color: #222B45;
  text-align: center;
  margin: 4.938rem 0 0.5rem 0;
}
.container .content {
  background-color: #8F9BB3;
  color: #222B45;
  border: none;
  width: 91%;
  min-height: 3rem;
  border-radius: 8px;
  font-style: normal;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.25rem;
  color: #222B45;
  text-align: center;
  margin-top: 0.5rem;
}
.container img:first-of-type {
  align-self: flex-start;
}
.container img:last-of-type {
  align-self: flex-end;
}
@media (min-width: 992px) {
  .container {
    margin: 3rem 7rem 2rem;
    position: relative;
  }
  .container h1 {
    font-size: 3.75rem;
    line-height: 4.5rem;
    width: 55%;
  }
  .container .explain {
    width: 41%;
  }
  .container .guest-button {
    width: 40%;
    display: flex;
    align-items: center;
    margin-top: 3.875rem;
  }
  .container .guest-button p {
    width: 8%;
  }
  .container .guest {
    width: 46%;
    margin: 0;
  }
  .container .content {
    width: 46%;
    margin: 0;
  }
  .container img:first-of-type {
    align-self: flex-end;
  }
  .container img:last-of-type {
    width: 6.375rem;
    height: 6.375rem;
  }
  .container svg {
    display: block;
    position: absolute;
    left: 0;
    bottom: 1rem;
  }
}

.features {
  background-color: #EDF1F7;
}
.features h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2rem;
  color: #222B45;
  text-align: center;
  padding-top: 3rem;
  margin-bottom: 4rem;
}
@media (min-width: 992px) {
  .features {
    padding: 4rem 7rem 5.5rem;
  }
  .features h3 {
    font-size: 2.125rem;
    line-height: 2.5rem;
    margin-bottom: 6rem;
    padding-top: 0;
  }
}

@media (min-width: 992px) {
  .features-box {
    display: flex;
    justify-content: center;
    gap: 2rem;
  }
}

.brief,
.happy,
.smarthome {
  position: relative;
  background-color: #FFD339;
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
  margin: auto;
  margin-bottom: 1.5rem;
}
.brief img,
.happy img,
.smarthome img {
  position: absolute;
  left: 1.5rem;
  bottom: 1rem;
}

.box-1,
.box-2,
.box-3 {
  margin: 0 1rem;
}
.box-1 h4,
.box-2 h4,
.box-3 h4 {
  font-style: normal;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: #222B45;
  text-align: center;
  padding: 0.5rem;
}
.box-1 p,
.box-2 p,
.box-3 p {
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #8F9BB3;
  text-align: center;
  padding: 0.5rem;
}
@media (min-width: 992px) {
  .box-1,
.box-2,
.box-3 {
    width: 27%;
  }
}

.box-1,
.box-2 {
  margin-bottom: 4.375rem;
}
@media (min-width: 992px) {
  .box-1,
.box-2 {
    margin-bottom: 0;
  }
}

.box-3 {
  padding-bottom: 4.5rem;
}
@media (min-width: 992px) {
  .box-3 {
    padding-bottom: 0;
  }
}

.work {
  margin: 3rem 0 6.5rem 0;
}
.work .how-work {
  font-style: normal;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2rem;
  color: #222B45;
  text-align: center;
}
@media (min-width: 992px) {
  .work {
    margin: 0 7rem;
  }
  .work .how-work {
    text-align: left;
    margin-top: 6rem;
    font-size: 2.125rem;
    line-height: 2.5rem;
  }
}

.work-box {
  margin: 0 1rem;
}
@media (min-width: 992px) {
  .work-box {
    display: grid;
    grid-template-columns: 50% 50%;
    position: relative;
    margin: 0 0 13.375rem;
    gap: 8rem 5rem;
  }
}

.box1 {
  margin-bottom: 2.5em;
}
.box1 h4 {
  font-style: normal;
  font-weight: 500;
  font-size: 2.125rem;
  line-height: 2.5rem;
  color: #222B45;
}
.box1 p:first-of-type {
  display: inline;
  font-style: normal;
  font-weight: 600;
  font-size: 2.125rem;
  line-height: 2.5rem;
  color: #FFD339;
}
.box1 .underline {
  display: inline-block;
  background-color: #FFD339;
  width: 11rem;
  height: 0.25rem;
}
.box1 p:last-of-type {
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #8F9BB3;
}
@media (min-width: 992px) {
  .box1 {
    grid-column: 1/2;
    width: 24rem;
    position: absolute;
    top: 8rem;
  }
}

.box2 {
  position: relative;
  padding-top: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 992px) {
  .box2 {
    grid-column: 2/-1;
    width: 27.125rem;
  }
}

.content-1 {
  width: 12rem;
  min-height: 16.5rem;
  position: relative;
  background-color: #F7F9FC;
  border: 0.345rem solid white;
  border-radius: 11px;
  padding: 4.25em 2.063em 3.125em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content-1 .ellipse1 {
  position: absolute;
  left: -3.75rem;
  top: -2.5rem;
  background-color: #FFEA88;
  border-radius: 50%;
  width: 7.56rem;
  height: 7.56rem;
  z-index: -1;
}
.content-1 .ellipse2 {
  position: absolute;
  background-color: #FFEA88;
  border-radius: 50%;
  width: 7.56rem;
  height: 7.56rem;
  right: -3.75rem;
  bottom: 0.75em;
  z-index: -1;
}
.content-1 h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 1.5em;
  line-height: 2em;
  color: #222B45;
  text-align: center;
  width: 8.75rem;
  margin-bottom: 2.5rem;
}
.content-1 .sign-up {
  background-color: #FFD339;
  color: #222B45;
  border: none;
  width: 7.94rem;
  min-height: 1.81rem;
  border-radius: 8px;
  font-weight: 600;
  margin-bottom: 1rem;
}
.content-1 .log-in {
  background-color: white;
  color: #222B45;
  border: none;
  width: 7.94rem;
  min-height: 1.81rem;
  border-radius: 8px;
  font-weight: 600;
}
@media (min-width: 992px) {
  .content-1 {
    grid-column: 2/-1;
    width: 17.5rem;
  }
}

.box3 {
  margin: 5em 0 6em;
}
.box3 h4 {
  font-style: normal;
  font-weight: 500;
  font-size: 2.125rem;
  line-height: 2.5rem;
  color: #222B45;
}
.box3 p:first-of-type {
  display: inline;
  font-style: normal;
  font-weight: 600;
  font-size: 2.125rem;
  line-height: 2.5rem;
  color: #FFD339;
}
.box3 .underline {
  display: inline-block;
  background-color: #FFD339;
  width: 11rem;
  height: 0.25rem;
}
.box3 p:last-of-type {
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #8F9BB3;
}
@media (min-width: 992px) {
  .box3 {
    grid-column: 2/-1;
    grid-row: 2/3;
    width: 24rem;
  }
}

.box4 {
  display: flex;
  justify-content: center;
  padding: 3.3rem;
  position: relative;
  z-index: -1;
  width: 22rem;
  margin: auto;
}

@media (min-width: 992px) {
  .box4 {
    grid-column: 1/2;
    margin-left: 0rem;
    width: 29rem;
  }
}
.web::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: -4.81rem;
  left: -3.5rem;
  bottom: 4.81rem;
  right: 3.5rem;
  border-radius: 16px;
  background-color: white;
  border: 1px solid #EDF1F7;
}

.web {
  position: relative;
  width: 30.5rem;
  background-color: #FFD339;
  padding: 1.31em 1.68em 2.31em;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
}
.web h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 1.5em;
  line-height: 2em;
  color: #222B45;
  text-align: center;
  margin-bottom: 1em;
}
.web a {
  font-style: normal;
  font-weight: 500;
  font-size: 0.7em;
  line-height: 0.81em;
  color: #222B45;
}
.web img {
  position: absolute;
  right: 0;
  width: 1.5em;
  height: 1.5em;
}
.web .check {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 0.75em;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.web .check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.web .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #FFEA88;
  border-radius: 0.25em;
  border: 2px solid #fff488;
}
.web .checkr:hover input ~ .checkmark {
  background-color: #FFEA88;
}
.web .check input:checked ~ .checkmark {
  background-color: #FFEA88;
  border: none;
}
.web .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.web .check input:checked ~ .checkmark:after {
  display: block;
}
.web .check .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.ellipse3 {
  position: absolute;
  width: 176px;
  height: 176px;
  background-color: #FFF9D7;
  border-radius: 50%;
  right: -48px;
  top: -63px;
  z-index: -4;
}

.scores {
  background-color: #FFE16A;
  padding: 3rem 0 4.5rem;
}
.scores h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 1.5em;
  line-height: 2em;
  color: #222B45;
  text-align: center;
  margin-bottom: 3.2rem;
}
@media (min-width: 992px) {
  .scores h3 {
    font-size: 2.125rem;
    line-height: 2.5rem;
  }
}
@media (min-width: 992px) {
  .scores {
    padding: 3.5rem 7rem 5rem;
  }
}

@media (min-width: 992px) {
  .score-box {
    display: flex;
    justify-content: center;
  }
}

.score1 {
  background-color: #222B45;
  border-radius: 16px;
  margin: 0 4.5rem 0;
  padding-bottom: 1rem;
  box-shadow: 5px 5px #FFF2AF;
}
.score1 h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 2.125em;
  line-height: 2.5em;
  color: white;
  text-align: center;
}
.score1 p {
  font-style: normal;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.5em;
  color: #8F9BB3;
  text-align: center;
}
@media (min-width: 992px) {
  .score1 {
    width: 15rem;
  }
}

.score2 {
  background-color: #222B45;
  border-radius: 16px;
  padding-bottom: 1rem;
  margin: 3.18rem 4.5rem;
  box-shadow: 5px 5px #FFF2AF;
}
.score2 h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 2.125em;
  line-height: 2.5em;
  color: white;
  text-align: center;
}
.score2 p {
  font-style: normal;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.5em;
  color: #8F9BB3;
  text-align: center;
}
@media (min-width: 992px) {
  .score2 {
    width: 15rem;
    margin: 0;
  }
}

.score3 {
  background-color: #222B45;
  border-radius: 16px;
  margin: 0 4.5rem 0;
  padding-bottom: 1rem;
  box-shadow: 5px 5px #FFF2AF;
}
.score3 h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 2.125em;
  line-height: 2.5em;
  color: white;
  text-align: center;
}
.score3 p {
  font-style: normal;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.5em;
  color: #8F9BB3;
  text-align: center;
}
@media (min-width: 992px) {
  .score3 {
    width: 15rem;
  }
}

.testimonials {
  border-bottom: 1px solid #EDF1F7;
  position: relative;
  margin: 4.68rem 1rem 2.5rem;
}
.testimonials h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 1.5em;
  line-height: 2em;
  color: #222B45;
  text-align: center;
}
.testimonials p {
  font-style: normal;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.5em;
  color: #2E3A59;
  text-align: center;
  text-align: left;
}
@media (min-width: 992px) {
  .testimonials {
    margin: 8rem 7rem 8.5rem;
    border: none;
  }
  .testimonials h3 {
    font-size: 2.125rem;
    line-height: 2.5rem;
  }
}

.reference__container {
  width: 100%;
}
.reference__container .alice {
  display: none;
}
@media (min-width: 992px) {
  .reference__container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 490px;
    margin: auto;
    width: 77%;
    gap: 2rem;
  }
  .reference__container .alice {
    display: block;
    grid-column: 2/-1;
    border: 1px solid #E4E9F2;
    margin-top: 5rem;
    padding: 0 2.5rem;
  }
  .reference__container .ulvin {
    grid-column: 1/2;
    border: 1px solid #E4E9F2;
    margin-top: 5rem;
    padding: 0 2.5rem;
  }
}

.about {
  display: flex;
  flex-direction: row;
  position: relative;
  gap: 20px;
  margin: 4rem 0 1.75rem;
}
.about h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 1.5em;
  line-height: 2em;
  color: #222B45;
  text-align: center;
}
.about p {
  font-style: normal;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.5em;
  color: #8F9BB3;
  text-align: center;
}
.about span {
  position: absolute;
  z-index: -1;
  background-color: #FFD339;
  top: 1.5em;
  left: 5.7em;
  width: 9.75em;
  height: 1em;
  border-radius: 2px;
}

.scroll {
  display: flex;
  justify-content: center;
  gap: 3em;
}
.scroll .left-scroll, .scroll .right-scroll {
  width: 3.5em;
  height: 3.5em;
  background-color: #F7F9FC;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3.5em;
  margin-bottom: 2.5em;
}
.scroll .left-scroll img, .scroll .right-scroll img {
  width: 24px;
  height: 24px;
}
@media (min-width: 992px) {
  .scroll {
    position: relative;
  }
  .scroll .left-scroll {
    position: absolute;
    left: 0;
    bottom: 9rem;
  }
  .scroll .right-scroll {
    position: absolute;
    right: 0;
    bottom: 9rem;
  }
}

.customers {
  position: relative;
  overflow: hidden;
  margin: 0 1rem 5.5rem;
}
.customers h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 1.5em;
  line-height: 2em;
  color: #222B45;
  text-align: center;
}
.customers .logo {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2.5rem;
  align-items: center;
}
@media (min-width: 992px) {
  .customers {
    margin: 0 7rem 11rem;
  }
  .customers h3 {
    font-size: 2.125rem;
    line-height: 2.5rem;
    margin-bottom: 4rem;
  }
}

.referral_traffic {
  position: relative;
  overflow: hidden;
  background-color: #FFD339;
  border-radius: 8px;
  margin: 0 1rem 5.5rem;
  padding: 3.5rem 2rem;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 4px 0px;
}
.referral_traffic h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 1.5em;
  line-height: 2em;
  color: #222B45;
  text-align: center;
  margin-bottom: 1.5rem;
}
.referral_traffic p {
  font-style: normal;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.5em;
  color: #2E3A59;
  text-align: left;
  margin-bottom: 5rem;
}
.referral_traffic button:first-of-type {
  background-color: white;
  color: #222B45;
  border: none;
  width: 100%;
  min-height: 3rem;
  border-radius: 8px;
  margin-bottom: 1.5em;
  font-style: normal;
  font-weight: 600;
  font-size: 1em;
  line-height: 1.5em;
  color: #222B45;
  text-align: center;
}
.referral_traffic button:last-of-type {
  background-color: #FFD339;
  color: #222B45;
  border: 2px solid #2E3A59;
  width: 100%;
  min-height: 3rem;
  border-radius: 8px;
  font-style: normal;
  font-weight: 600;
  font-size: 1em;
  line-height: 1.5em;
  color: #222B45;
  text-align: center;
  margin-bottom: 11.625em;
}
.referral_traffic .ellipse4 {
  position: absolute;
  background-color: #FFE16A;
  border-radius: 50%;
  width: 23.375em;
  height: 23.375em;
  right: 1em;
  border: 1px solid #FFEA88;
  bottom: -12.5rem;
  opacity: 0.3;
}
.referral_traffic .ellipse5 {
  position: absolute;
  background-color: #FFEA88;
  border-radius: 50%;
  width: 19em;
  height: 19em;
  left: -0.5em;
  bottom: -14.5rem;
  opacity: 0.5;
}
@media (min-width: 992px) {
  .referral_traffic {
    margin: 0 13.5rem 6.5rem;
    display: grid;
    grid-template-columns: 4fr 2fr;
    padding: 3rem 4rem 4rem;
    gap: 0 5.625rem;
  }
  .referral_traffic h3 {
    grid-column: 1/2;
    z-index: 3;
    text-align: left;
    margin-bottom: 1.5rem;
  }
  .referral_traffic p {
    grid-column: 1/2;
    grid-row: 2/3;
    margin-bottom: 0;
    z-index: 3;
  }
  .referral_traffic button:last-of-type {
    margin-bottom: 0;
    margin-top: 1rem;
  }
  .referral_traffic button:first-of-type {
    margin-top: 1rem;
  }
  .referral_traffic .ellipse4 {
    opacity: 0.3;
    left: -3rem;
    bottom: -14.5rem;
  }
  .referral_traffic .ellipse5 {
    opacity: 0.5;
  }
}

footer {
  background-color: #EDF1F7;
  padding: 3.5em 1em 2em;
}
@media (min-width: 992px) {
  footer {
    padding: 3.5rem 15.31rem 1.5rem 7rem;
  }
}

.footer_links {
  display: flex;
  flex-direction: column;
  gap: 3.5em;
  margin-bottom: 4.5rem;
}
.footer_links .logo {
  width: 127px;
  align-self: center;
}
@media (min-width: 992px) {
  .footer_links {
    flex-direction: row;
    justify-content: space-between;
  }
  .footer_links .logo {
    align-self: flex-start;
  }
}

.company h3,
.product h3,
.legal h3 {
  font-style: normal;
  font-weight: 400;
  font-size: 1.25em;
  line-height: 1.75em;
  color: #222B45;
  text-align: center;
  margin-bottom: 1.5em;
}
.company a,
.product a,
.legal a {
  font-style: normal;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.25em;
  color: #8F9BB3;
  text-align: center;
}
.company li,
.product li,
.legal li {
  text-align: center;
  margin-bottom: 1em;
}
.company a:hover,
.product a:hover,
.legal a:hover {
  color: #222B45;
}

.social {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
  gap: 24px;
}
.social .links {
  width: 3rem;
  height: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
@media (min-width: 992px) {
  .social {
    margin-bottom: 2.5rem;
    margin-left: 8.31rem;
  }
}

.copyright {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}
.copyright p {
  font-style: normal;
  font-weight: 400;
  font-size: 0.875em;
  line-height: 1.25em;
  color: #222B45;
  text-align: center;
}
@media (min-width: 992px) {
  .copyright {
    margin-left: 8.31rem;
  }
}/*# sourceMappingURL=home.css.map */